[Unit]
Description=Starts the tezos node
Requires=network.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/tezos_node.pid
ExecStart=/boot_scripts/tezos_manager.sh run-node
Restart=on-failure

[Install]
WantedBy=multi-user.target tezos_baker.service
RequiredBy=tezos_baker.service tezos_accuser.service